<%if @supress_overdue_color %>
				<tr class="<%= cycle('list-line-odd','list-line-even')%>">
					<%else %><%if(task.scd) %><%if (task.scd >= @today) %>
				</tr>
				<tr class="<%= cycle('list-line-odd','list-line-even')%>">
					<%else %>
				</tr>
				<tr class="<%= cycle('list-line-odd_past_due','list-line-even_past_due')%>">
					<%end %><%end %><%end %>
					<td>
						<%= link_to task.id,task %>
					</td>
					<td>
						<%= task.requester.fullname %>
					</td>
					<td>
						<%= task.assignee ? task.assignee.fullname : "UNASSIGNED" %>
					</td>
					<td>
						<%= task.category %>
					</td>
					<td>
						<%= task.priority %>
					</td>
					<td><%= task.device %></td>
					<td><%= task.operation %></td>
					<td><%= task.platform %></td>
					<td>
						<%= task.taskname %>
					</td>
					<td>
						<%= task.scd %>
					</td>
					<td>
						<%= task.duration %>
					</td>
				</tr>
