<tr>
	
		<td>
			<%= link_to task.id,task, :class =>'label label-primary'%>
		</td>
					<td>
						
					    <%if task.accepted == false && task.complete == true%>
					    <span class="label label-warning">In Review</span>
					    <% end %>
						

						<%= task.requester.fullname %>
					
					</td>
					<td>
						<%= task.assignee ? task.assignee.fullname : "UNASSIGNED" %>
					</td>
					<td>
						<%= task.category %>
					</td>
					<td>
						<%= task.priority %>
					</td>
					<td><%= task.family %></td>
					<td><%= task.request_type %></td>
					<td><%= task.operation %></td>
					<td><%= task.device %></td>
					<td><%= task.platform %></td>
					<td>
						<a href="#" title="<%= task.description%>"><%= task.taskname%></a>
					</td>
					<td>
						<%= task.scd %>
					</td>
					<td>
						<%= task.duration %>
					</td>
				
				</tr>
