= render :partial =>"pill_navigation",:locals => {:active => "By_requester"}
= render :partial =>"page_header",:locals => {:title => "Active Projects", :description => "ordered by requester and priority"}
#accordion
  - @tasks.each_pair do |fullname, tasks|
    %h3
      %a{:href => "#"}= tasks[0].fullname
    %div
      %table.disp{cellspacing: "0", id: "", width: "100%"}
        %thead
          = render :partial => "task_header"
        %tbody
          = render :partial => "task" , :collection => tasks
