<%= render :partial =>"pill_navigation",:locals => {:active => "By_assignee"} %>
<%= render :partial =>"page_header",:locals => {:title => "Active Projects", :description => "ordered by assignee and priority"} %>

<div id="accordion">
  <% @tasks.each_pair do |fullname, tasks| %>
    <h3>
      <a href="#">
        <%= tasks[0].fullname %>
        <span class="badge alert-info pull-right"><%= tasks.count%></span></a>
        <% if @auth >1 %>
        <span class="badge alert-warning"><%= @tasksCategoryCount[1][tasks[0].assignee_id]%></span></a>
        <span class="badge alert-warning"><%= @tasksCategoryCount[2][tasks[0].assignee_id]%></span></a>
        <span class="badge alert-warning"><%= @tasksCategoryCount[3][tasks[0].assignee_id]%></span></a>
        <span class="badge alert-warning"><%= @tasksCategoryCount[4][tasks[0].assignee_id]%></span></a>
        <% end %>
      </a>
    </h3>
    <div>
      <table cellspacing="0" class="disp compact" width="100%">
        <thead>
          <%= render :partial => "task_header" %>
        </thead>
        <tbody>
          <%= render :partial => "task" , :collection => tasks  %>
        </tbody>
      </table>
      <%= link_to "Reorder Tasks", "/priority/project_manual_priority?id=#{tasks[0].assignee_id}" %>
    </div>
  <% end %>
</div>
<br>
<div class="btn-group">
    <a button class="btn btn-primary" href="/tasks.csv">Export - CSV</a>
    <a button class="btn btn-primary" href="/tasks.xls">Export - XLS</a>
</div>

<% if @auth >1 %>
    <div class="btn-group">
        <a button class="btn btn-danger" href="/task_front/top3Serial">Top 3 Serial</a>
    </div>
<% end %>