= render :partial =>"pill_navigation",:locals => {:active => "By_requester"}
= render :partial =>"page_header",:locals => {:title => "Active Projects", :description => "ordered by requester and priority"}
#accordion
  - @tasks.each_pair do |requester_id, tasks|
    - u = User.find(requester_id.to_i)
    %h3
      %a{:href => "#"}= u.fullname
    %div
      %table.bordered-table
        = render :partial => "task_header"
        = render :partial => "task" , :collection => tasks, :locals => {:requester_id => requester_id}
