<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
	<head>
		<title></title>
	</head>
	<body>
		<h1>
			Active Tasks for <%= @full_name%>
		</h1>
		<p>
			<%= @today.to_s(:long) %>: <%= @tasks.count%> tasks listed
		</p><%= render 'grid' %>
		<p>
			<br>
			<br>
			<br>
		</p>
		<h1>
			Active Tasks assigned by <%= @full_name%>
		</h1>
		<% @tasks=@tasks_by_me %><%= @tasks.count%>
			tasks listed 
			<%= render 'grid'%>

		<p>
			<a href="/main/index">TMS Home</a><br>
		</p>
	</body>
</html>
