<%= render 'pill_navigation'%>
		<h1>
			Unassigned Tasks
		</h1>
			<%= @today.to_s(:long) %>
		<hr>
		<%= render 'grid' %>
		<!-- <%= link_to 'New Task', new_task_path %> -->
		<p>
			<a href="/main/index">TMS Home</a><br>
		</p>

<ol id="selectable">
    <% @tasks.each do |task|%>
  <li class="ui-state-default"><%= task.id %></li>
  <% end %>

</ol>
<br>