<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
	<head>
		<title></title>
	</head>
	<body>
		<h1>
			Active Tasks:
		</h1>
		<p>
			<%= @today.to_s(:long) %>: <%= @total_task_count%> tasks listed
		</p>
		<hr>
		<div id="accordion">
			<% @tasks.each_pair do |assignee_id, tasks| %>
			<% u = User.find(assignee_id.to_i)%>
			<h3><a href="#"><%= u.fullname %>: <%= tasks.count%> tasks listed</a></h3>
			<div id="product-list">
				<table>
				<%= render :partial => "task_header"%>
				<%= render :partial => "task" , :collection => tasks, :locals => {:assignee_id => assignee_id}%>
				</table>
			</div>
			<% end %>
			
			</div>
		
	</body>
</html>