= render :partial =>"pill_navigation",:locals => {:active => "By_assignee"}
= render :partial =>"page_header",:locals => {:title => "Active Projects", :description => "ordered by assignee and priority"}
#accordion
  - @tasks.each_pair do |fullname, tasks|
    %h3
      %a{:href => "#"}= tasks[0].fullname
    %div
      %table{:class => "table"}
        = render :partial => "task_header"
        = render :partial => "task" , :collection => tasks    
      =link_to "Reorder Tasks", "/priority/project_manual_priority?id=#{tasks[0].assignee_id}"