<ul class="pills">
  <li><a href="/main/pto_current">Next 30 days</a></li>
  <li class="active"><a href="/main/pto_current_90">Next 90 days</a></li>
  <li><a href="/ptos/new">PTO Entry</a></li>
</ul>
<div class="page-header">

  <h1>Long Term PTO <small>	<%=@outlook %> day outlook: 
	<%= @start.to_s(:long) %> to <%=@stop.to_s(:long) %></small></h1>
</div>
<p>

</p>
<hr>
<div id="product-list">
<table>
	<tr>
		<th>
			<b>User</b>
		</th>
		<th>
			<b>Start</b>
		</th>
		<th>
			<b>End</b>
		</th>
		<th>
			<b>Comments</b>
		</th>
	</tr>
	<% @ptos.each do |pto| %>
	<%#emp_id = pto.user_id-1 %>
	<tr>
		<td>
			<%#= @users[emp_id].fullname %>
			<%=pto.user.fullname%>
		</td>
		<td>
			<%= pto.start.to_s(:short) %>
		</td>
		<td>
			<%= pto.finish.to_s(:short) %>
		</td>
		<td>
			<%= pto.comments %>
		</td>
		<!--<td><%= link_to 'Show', pto %></td>
		<td><%= link_to 'Edit', edit_pto_path(pto) %></td>
		<td><%= link_to 'Destroy', pto, :confirm => 'Are you sure?', :method => :delete %></td> -->
	</tr>
	<% end %>
</table>
</div>
<br/>
<!-- <%= link_to 'New Pto', new_pto_path %> -->
<p>
	<a href="/main/index">TMS Home</a>
</p>
