.btn-group
  %a.btn.btn-primary{:button => "", :href => "/main/pto_current"} PTO 30 days
  %a.btn.btn-primary{:button => "", :href => "/main/pto_current_90"} PTO 90 days
  %a.btn.btn-info{:button => "", :href => "/ptos/new"} PTO Entry

.page-header
  %h1
    Near Term PTO
    %small
      = @outlook
      day outlook:
      \#{@start.to_s(:long)} to #{@stop.to_s(:long)}

%table#prr.display{:cellspacing => "10", :width => "100%"}

  %thead
    %tr
      %th
        %b User
      %th
        %b Start
      %th
        %b End
      %th
        %b Comments
  %tbody
    - @ptos.each do |pto|
      %tr
        %td
          = pto.user.fullname
        %td
          = pto.start.to_s(:short)
        %td
          - if(pto.finish != pto.start)
            = pto.finish.to_s(:short)
        %td
          = pto.comments
%br/
/ <haml:loud> link_to 'New Pto', new_pto_path </haml:loud>
%p
  %a{:href => "/main/index"} TMS Home
