.btn-group
  %a.btn.btn-info{:button => "", :href => "/main/pto_current"} PTO 30 days
  %a.btn.btn-info{:button => "", :href => "/main/pto_current_90"} PTO 90 days
  %a.btn.btn-primary{:button => "", :href => "/setup_sync/prr?family=SPI"} PTO Entry

.page-header
  %h1
    Long Term PTO Outlook
    %small
      = @outlook
      day outlook:
      \#{@start.to_s(:long)} to #{@stop.to_s(:long)}
%p
%hr/
#product-list
  %table.table.table-hover
    %thead
      %tr
        %th
          %b User
        %th
          %b Start
        %th
          %b End
        %th
          %b Comments
    %tbody
      - @ptos.each do |pto|
        %tr
          %td
            = pto.user.fullname
          %td
            = pto.start.to_s(:short)
          %td
            = pto.finish.to_s(:short)
          %td
            = pto.comments
          /
            <td><haml:loud> link_to 'Show', pto </haml:loud></td>
            <td><haml:loud> link_to 'Edit', edit_pto_path(pto) </haml:loud></td>
            <td><haml:loud> link_to 'Destroy', pto, :confirm =&gt; 'Are you sure?', :method =&gt; :delete </haml:loud></td>
%br/
/ <haml:loud> link_to 'New Pto', new_pto_path </haml:loud>
%p
  %a{:href => "/main/index"} TMS Home