<ul class="pills">
  <li class="active"><a href="/main/pto_current">Next 30 days</a></li>
  <li><a href="/main/pto_current_90">Next 90 days</a></li>
  <li><a href="/ptos/new">PTO Entry</a></li>
</ul>
<div class="page-header">

  <h1>Near Term PTO <small>	<%=@outlook %> day outlook: 
	<%= @start.to_s(:long) %> to <%=@stop.to_s(:long) %></small></h1>
</div>
<p>

</p>
<hr>
<div id="product-list">
<table class="table table-hover">
	<tr>
		<th>
			<b>User</b>
		</th>
		<th>
			<b>Start</b>
		</th>
		<th>
			<b>End</b>
		</th>
		<th>
			<b>Comments</b>
		</th>
	</tr>
	<% @ptos.each do |pto| %>
	<%#emp_id = pto.user_id-1 %>
	<tr>
		<td>
			<%#= @users[emp_id].fullname %>
			<%=pto.user.fullname%>
		</td>
		<td>
			<%= pto.start.to_s(:short) %>
		</td>
		<td>
			<% if(pto.finish != pto.start) %>
			<%= pto.finish.to_s(:short) %>
			<% end %>
		</td>
		<td>
			<%= pto.comments %>
		</td>
	</tr>
	<% end %>
</table>
</div>
<br/>
<!-- <%= link_to 'New Pto', new_pto_path %> -->
<p>
	<a href="/main/index">TMS Home</a>
</p>
