
		<h2>
			Summary Cost Information
		</h2>
		<table width="30%">
			<tr>
				<td>
					Die Cost
				</td>
				<td>
					<%=c.tst_cost%>
				</td>
			</tr>
			<tr>
				<td>
					Assembly Cost
				</td>
				<td>
					<%=c.tst_yield%>
				</td>
			</tr>
			<tr>
				<td>
					Test Cost
				</td>
				<td>
					<%=c.tst_ohcost%>
				</td>
			</tr>
			<tr>
				<td>
					Misc Backend Cost
				</td>
				<td>
					<%=c.tst_ohcost%>
				</td>
			</tr>
			<tr>
				<td>
					Overhead Cost
				</td>
				<td>
					<%=c.tst_ohcost%>
				</td>
			</tr>
		</table>