<h1>Device Cost Analysis</h1>
<hr>
<% @cost.each do |c|%>
Family: <%= c.pc%><br>
Device: <%= c.device %><br>
<hr>
<%= render :partial => 'die_cost', :locals => {:c => c} %>
<hr>
<h2>Assembly Cost Information</h2>
<%= render :partial => 'assy_cost', :locals => {:c => c} %>
<hr>
<h2>Test Cost Information</h2>
<%= render :partial => 'test_cost', :locals => {:c => c} %>
<br>
<hr>
<hr>
<%end%>