<%= form_for(@sample) do |f| %>
  <% if @sample.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sample.errors.count, "error") %> prohibited this sample from being saved:</h2>

      <ul>
      <% @sample.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <b>MANID Record Number</b><br />
    <%= f.text_field :manid_id %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :dateExchange, 'Secret/Signature Exchange Date' %><br />
    <%= f.text_field :dateExchange %>
  </div>
  <div class="field">
    <%= f.label :dateSamples, 'Samples Shipped Date' %><br />
    <%= f.text_field :dateSamples %>
  </div>
  <div class="field">
    <%= f.label :dateCustApproval, 'Customer Approval Date' %><br />
    <%= f.text_field :dateCustApproval %>
  </div>
  <div class="field">
    <%= f.label :dateQAEnable, 'QA Online Date' %><br />
    <%= f.text_field :dateQAEnable %>
  </div>
  <div class="field">
    <%= f.label :dateReleaseProduction, 'Released to Production Date' %><br />
    <%= f.text_field :dateReleaseProduction %>
  </div>
  <div class="field">
    <%= f.label :crs, 'CRS' %><br />
    <%= f.text_field :crs %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
