<p id="notice"><%= notice %></p>

<p>
  <b>Manid Record Number:</b>
  <%= @sample.manid_id %>
</p>

<p>
  <b>Status:</b>
  <%= @sample.status %>
</p>

<p>
  <b>Date Secret/Signature Exchange:</b>
  <%= @sample.dateExchange %>
</p>

<p>
  <b>Date Samples Shipped:</b>
  <%= @sample.dateSamples %>
</p>

<p>
  <b>Datecustapproval:</b>
  <%= @sample.dateCustApproval %>
</p>

<p>
  <b>Date Production Program Available:</b>
  <%= @sample.dateReleaseProduction %>
</p>

<p>
  <b>Date Production Program Released:</b>
  <%= @sample.dateQAEnable %>
</p>

<p>
  <b>CRS Number:</b>
  <%= @sample.crs %>
</p>


<%= link_to 'Edit', edit_sample_path(@sample) %> |
<%= link_to 'Back', samples_path %>
