<tr>
	<td>
		<small>
			<%= task.assignee ? task.assignee.fullname : "UNASSIGNED" %>: &nbsp
			:Priority <%= task.priority %>: &nbsp
			:WW duration <%= task.duration %> &nbsp
			<%= task.family %>: &nbsp
			<%= task.device %>: &nbsp
			<%= task.taskname %>
		</small>
	</td>			
</tr>