<h1>Listing targets</h1>

<table class="table">
  <tr>
    <th>Family</th>
    <th>Device</th>
    <th>Tab</th>
    <th>Mag cp1</th>
    <th>Mag cp2</th>
    <th>Mag cp3</th>
    <th>Mag x64 cp1</th>
    <th>Mag x64 cp2</th>
    <th>Mag x64 cp3</th>
    <th>Mav cp1</th>
    <th>Mav cp2</th>
    <th>Mav cp3</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @targets.each do |target| %>
  <tr>
    <td><%= target.family %></td>
    <td><%= target.device %></td>
    <td><%= target.tab %></td>
    <td><%= target.mag_cp1 %></td>
    <td><%= target.mag_cp2 %></td>
    <td><%= target.mag_cp3 %></td>
    <td><%= target.mag_x64_cp1 %></td>
    <td><%= target.mag_x64_cp2 %></td>
    <td><%= target.mag_x64_cp3 %></td>
    <td><%= target.mav_cp1 %></td>
    <td><%= target.mav_cp2 %></td>
    <td><%= target.mav_cp3 %></td>
    <td><%= link_to 'Show', target,:class =>'btn btn-info' %></td>
    <td><%= link_to 'Edit', edit_target_path(target),:class =>'btn btn-warning' %></td>
    <td><%= link_to 'Destroy', target, :confirm => 'Are you sure?', :method => :delete,:class =>'btn btn-danger' %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Target', new_target_path %>
