<h1>Listing targets</h1>
<div class="btn-group">
  <a class="btn btn-primary" href="/setup_sync/prr?family=2W">2 Wire</a>
  <a class="btn btn-primary" href="/setup_sync/prr?family=3W">3 Wire</a>
  <a class="btn btn-primary" href="/setup_sync/prr?family=SPI">SPI</a>
  <a class="btn btn-primary" href="/setup_sync/prr?family=CP">Crypto</a>
  <a class="btn btn-primary" href="/setup_sync/prr?family=TS">Temp Sensor</a>
</div>
<div class="btn-group">
  <a class="btn btn-primary" href="/targets">Target</a>
</div>
<div class="btn-group">
  <a class="btn btn-primary" href="/setup_sync/report?report=EPRO">EPRO Entries</a>
  <a class="btn btn-primary" href="/setup_sync/report?report=RED">RED Report</a>
  <a class="btn btn-primary" href="/setup_sync/report?report=x_flow">X-Flows</a>
</div>
<table cellspacing="10" class="display" id="prr" width="100%">
  <thead>
    <tr>
      <th>Family</th>
      <th>Device</th>
      <th>Tab</th>
      <th>Mag cp1</th>
      <th>Mag cp2</th>
      <th>Mag cp3</th>
      <th>Mag x64 cp1</th>
      <th>Mag x64 cp2</th>
      <th>Mag x64 cp3</th>
      <th>Mav cp1</th>
      <th>Mav cp2</th>
      <th>Mav cp3</th>
      <th>CR3 approved</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @targets.each do |target| %>
      <tr>
        <td>
          <%= target.family %>
        </td>
        <td>
          <%= target.device %>
        </td>
        <td>
          <%= target.tab %>
        </td>
        <td>
          <%= target.mag_cp1 %>
        </td>
        <td>
          <%= target.mag_cp2 %>
        </td>
        <td>
          <%= target.mag_cp3 %>
        </td>
        <td>
          <%= target.mag_x64_cp1 %>
        </td>
        <td>
          <%= target.mag_x64_cp2 %>
        </td>
        <td>
          <%= target.mag_x64_cp3 %>
        </td>
        <td>
          <%= target.mav_cp1 %>
        </td>
        <td>
          <%= target.mav_cp2 %>
        </td>
        <td>
          <%= target.mav_cp3 %>
        </td>
        <td>
          <%= raw checkbox(target.cr3) %>
          <i class="icon-search"></i>
        </td>
        <td>
          <%= link_to 'Show', target,:class =>'btn btn-info' %>
        </td>
        <td>
          <%= link_to raw('<span class="glyphicon glyphicon-edit"></span>'), edit_target_path(target) %>
        </td>
        <td>
          <%= link_to raw('<span class="glyphicon glyphicon-remove"></span>'), target, :confirm => 'Are you sure?', :method => :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br/>
<%= link_to 'New Target', new_target_path, :class =>'btn btn-primary' %>
