<p id="notice"><%= notice %></p>

<p>
  <b>Family:</b>
  <%= @target.family %>
</p>

<p>
  <b>Device:</b>
  <%= @target.device %>
</p>

<p>
  <b>Tab:</b>
  <%= @target.tab %>
</p>

<p>
  <b>Mag cp1:</b>
  <%= @target.mag_cp1 %>
</p>

<p>
  <b>Mag cp2:</b>
  <%= @target.mag_cp2 %>
</p>

<p>
  <b>Mag x64 cp1:</b>
  <%= @target.mag_x64_cp1 %>
</p>

<p>
  <b>Mag x64 cp2:</b>
  <%= @target.mag_x64_cp2 %>
</p>

<p>
  <b>Mav cp1:</b>
  <%= @target.mav_cp1 %>
</p>

<p>
  <b>Mav cp2:</b>
  <%= @target.mav_cp2 %>
</p>

<p>
  <b>CR3:</b>
  <%= @target.cr3 %>
</p>


<%= link_to 'Edit', edit_target_path(@target) %> |
<%= link_to 'Back', targets_path %>
