<p>Task ID: <%= @task.id %></p>
<p>Task Device: <%= @task.device %></p>
<p>Task Family: <%= @task.family %></p>
<p>Task Requester: <%= @task.requester %></p>
<p>Task Name: <%= @task.taskname %></p>
<p>Task Details: <%= @task.description %>
<p>Requested completion date: <%=@task.tcd%>