<p><h2>**ALERT to Memory Business Planner**</h2></p>

<h3>Please copy the table to your existing spreadsheet of dispositions waiting for signoff.</h3>


<h2>Abnormal Scrap</h2>
<table>
	<tr>
		<td><%= @sa.lot_number%></td>
		<td><%= @sa.location%></td>
		<td><%= @sa.plant%></td>
		<td><%= @sa.profit_center%></td>
		<td><%= @sa.sap_matid%></td>
		<td><%= @sa.lts_matid%></td>
		<td><%= @sa.quantity%></td>
		<td><%= @sa.standard_cost%></td>
		<td><%= @sa.total%></td>
		<td><%= @sa.date%></td>
		<td><%= @sa.reason%></td>
	</tr>
</table>




<p>SAS ID: <%= @sa.id %></p>
<p>SAS type: <%= @sa.sas_type %></p>

<p>
  <b>Lot number:</b>
  <%= @sa.lot_number %>
</p>

<p>
  <b>Location:</b>
  <%= @sa.location %>
</p>

<p>
  <b>Plant:</b>
  <%= @sa.plant %>
</p>

<p>
  <b>Profit center:</b>
  <%= @sa.profit_center %>
</p>

<p>
  <b>Sap matid:</b>
  <%= @sa.sap_matid %>
</p>

<p>
  <b>Lts matid:</b>
  <%= @sa.lts_matid %>
</p>

<p>
  <b>Quantity:</b>
  <%= @sa.quantity %>
</p>

<p>
  <b>Standard cost:</b>
  <%= @sa.standard_cost %>
</p>

<p>
  <b>Total:</b>
  <%= @sa.total %>
</p>

<p>
  <b>Date:</b>
  <%= @sa.date %>
</p>

<p>
  <b>Reserve:</b>
  <%= @sa.reserve %>
</p>

<p>
  <b>Rma:</b>
  <%= @sa.rma %>
</p>

<p>
  <b>Customer number:</b>
  <%= @sa.customer_number %>
</p>

<p>
  <b>Customer details:</b>
  <%= @sa.customer_details %>
</p>

<p>
  <b>Total std cost:</b>
  <%= @sa.total_std_cost %>
</p>


