<%= form_for(@pto) do |f| %>
  <% if @pto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pto.errors.count, "error") %> prohibited this pto from being saved:</h2>

      <ul>
      <% @pto.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :start %><br />
    <%= f.date_select :start %>
  </div>
  <div class="field">
    <%= f.label :finish %><br />
    <%= f.date_select :finish %>
  </div>
  <div class="field">
    <%= f.label :comments %><br />
    <%= f.text_field :comments %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
