<%= form_for(@pto, :html => { :class => "form-horizontal" }) do |f| %>
  <% if @pto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pto.errors.count, "error") %> prohibited this pto from being saved:</h2>

      <ul>
      <% @pto.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
	<%= f.select(:user_id,@assignees) %>
  </div>
  <div class="field">
    <%= f.label :start %><br />
    <%= f.text_field :start %>
  </div>
  <div class="field">
    <%= f.label :finish %><br />
    <%= f.text_field :finish %>
  </div>
<% if @auth == 2%>
  <div class="field">
    <%= f.label :comments %><br />
    <%= f.text_field :comments %>
  </div>
<% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>