<h1>Listing ptos</h1>

<table class="table">
  <tr>
    <th>User</th>
    <th>Start</th>
    <th>End</th>
    <th>Comments</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ptos.each do |pto| %>
  <tr>
    <td><%= pto.user.fullname %></td>
    <td><%= pto.start %></td>
    <td><%= pto.finish %></td>
    <td><%= pto.comments %></td>
    <td><%= link_to 'Show', pto,:class =>'btn btn-info' %></td>
    <td><%= link_to 'Edit', edit_pto_path(pto),:class =>'btn btn-warning' %></td>
    <td><%= link_to 'Destroy', pto, :confirm => 'Are you sure?', :method => :delete,:class =>'btn btn-danger' %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pto', new_pto_path %>
<p><a href="/main/index">TMS Home</a></p>
