<%= form_for(@can_sub) do |f| %>
  <% if @can_sub.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@can_sub.errors.count, "error") %> prohibited this can_sub from being saved:</h2>

      <ul>
      <% @can_sub.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :can_main_id %><br />
    <%= f.text_field :can_main_id %>
  </div>
  <div class="field">
    <%= f.label :cpn %><br />
    <%= f.text_field :cpn %>
  </div>
  <div class="field">
    <%= f.label :mpn %><br />
    <%= f.text_field :mpn %>
  </div>
  <div class="field">
    <%= f.label :package %><br />
    <%= f.text_field :package %>
  </div>
  <div class="field">
    <%= f.label :comment %><br />
    <%= f.text_area :comment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
