<h1>Listing can_subs</h1>

<table width="90%">
  <tr>
    <th>Can main</th>
    <th>Cpn</th>
    <th>Mpn</th>
    <th>Package</th>
    <th>Comment</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @can_subs.each do |can_sub| %>
  <tr>
    <td><%= can_sub.can_main_id %></td>
    <td><%= can_sub.cpn %></td>
    <td><%= can_sub.mpn %></td>
    <td><%= can_sub.package %></td>
    <td><%= can_sub.comment %></td>
    <td><%= link_to 'Show', can_sub %></td>
    <td><%= link_to 'Edit', edit_can_sub_path(can_sub) %></td>
    <td><%= link_to 'Destroy', can_sub, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Can sub', new_can_sub_path %>
