<p id="notice"><%= notice %></p>

<p>
  <b>Location:</b>
  <%= @setup.location %>
</p>

<p>
  <b>Family:</b>
  <%= @setup.family %>
</p>

<p>
  <b>Device:</b>
  <%= @setup.device %>
</p>

<p>
  <b>Tab:</b>
  <%= @setup.tab %>
</p>

<p>
  <b>Platform:</b>
  <%= @setup.platform %>
</p>

<p>
  <b>Cp1:</b>
  <%= @setup.cp1 %>
</p>

<p>
  <b>Cp2:</b>
  <%= @setup.cp2 %>
</p>

<p>
  <b>Cp3:</b>
  <%= @setup.cp3 %>
</p>


<%= link_to 'Edit', edit_setup_path(@setup) %> |
<%= link_to 'Back', setups_path %>
