<%= form_for(@task) do |f| %>
	<% if @task.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@task.errors.count, "error") %>prohibited this task from being saved:</h2>
		<ul>
			<% @task.errors.full_messages.each do |msg| %>
			<li>
				<%= msg %>
			</li>
			<% end %>
		</ul>
	</div>
	<% end %>
	<div class="field">
	<%if !@task.requester %>
	<%@task.requester=@user_id%>
	<%end %>
	<%= f.select(:requester,@requesters) %>
</div>


<%if @auth==2 %>
<div class="field">
<!--    <%= f.label :assignee %>
<br/>
<%= f.text_field :assignee %> -->
<%= f.select(:assignee,@assignees) %>
</div>
<%end %>
<div class="field">
	<%= f.label :taskname %>
	<br/>
	<%= f.text_field :taskname %>
</div>
<div class="field">
	<%= f.label :description %>
	<br/>
	<%= f.text_area :description %>
</div>
<div class="field">
	<%= f.label :tcd, 'Target Completion Date' %>
	<br/>
	<%= f.date_select :tcd %>
	<!--	<%= f.text_field :tcd%> -->
</div>

<%if @auth==2 %>
<div class="field">
	<%= f.label :scd, 'Scheduled Completion Date' %>
	<br/>
	<%= f.date_select :scd %>
</div>
<div class="field">
	<%= f.label :acd, 'Actual Completion Date' %>
	<br/>
	<%= f.date_select :acd %>
</div>
<%end %>
<div class="field">
	<%= f.label :priority %>
	<br/>
	<%= f.text_field :priority %>
</div>
<!--
<div class="field">
<%= f.label :category %>
<br/>
<%= f.text_field :category %>
</div> -->
<div class="field">
	<%= f.label :complete %>
	<br/>
	<%= f.check_box :complete %>
</div>
<div class="field">
	<%= f.label :accepted %>
	<br/>
	<%= f.check_box :accepted %>
</div>
<div class="actions">
	<%= f.submit %>
</div>
<% end %>
