<tr><% m = Manid.find(record.manid_id)%>
<td>
<%= m.device %>
</td>
<td>
<%= m.customer %>
</td>
<td>
	<%= m.can_id %>
	</td>
<td>
	<%= record.dateExchange %>
	</td>
<td>
	<%= record.dateSamples %>
	</td>
	<td>
	<%= record.dateCustApproval %>
	</td>
	<td>
	<%= record.dateReleaseProduction %>
	</td>	
	
</tr>