<h1>Listing users</h1>

<table>
  <tr>
  <th>ID</th>
    <th>Fullname</th>
    <th>Name</th>
    <!--<th>Hashed password</th>
    <th>Salt</th> -->
    <th>Department</th>
    <th>email</th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
  <td><%= user.id %></td>
    <td><%= user.fullname %></td>
    <td><%= user.name %></td>
   <!-- <td><%= user.hashed_password %></td>
    <td><%= user.salt %></td> -->
    <td><%= user.department %></td>
    <td><%= user.email %></td>
	    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
<p><a href="/main/index">TMS Home</a></p>

