<%= form_for(@test_prog) do |f| %>
  <% if @test_prog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@test_prog.errors.count, "error") %> prohibited this test_prog from being saved:</h2>

      <ul>
      <% @test_prog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :engineer %><br />
	<%= f.select(:engineer, %w{ Other Chabica Larsen Nauman Smith })%>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :prog_name %><br />
    <%= f.text_field :prog_name %>
  </div>
  <div class="field">
    <%= f.label :CRS_number %><br />
    <%= f.text_field :crs_number %>
  </div>
  <div class="field">
    <%= f.label :operation %><br />
	<%= f.select(:operation, %w{ Other CP1 CP2 Combined Final_Test Engineering })%> 
 </div>
  <div class="field">
	<%= f.label :date_received, 'Date Received' %>
	<%= f.text_field :date_received%>
  </div>
  <div class="field">
    <%= f.label :comments %><br />
    <%= f.text_area :comments %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
