		<h1>
			Manual Priority for Tasks:
		</h1>

		<p>
			<%= @today.to_s(:long) %>: 
		</p><i class="icon-plus"></i>
			<%= @tasks.count%> tasks listed
			<div class="demo">
				<ul id="sortable">
			<% @tasks.each do |t|%>
			<li class="ui-state-default"><i class="icon-plus"></i><%= t.requester.fullname %>-<%= t.assignee ? t.assignee.fullname : "UNASSIGNED" %>:<%=t.taskname%></li>
			</li>
			
				<%end%>
			</div>
				</ul>
				
				<ul class="nav nav-list">
				  <li class="active"><a href="#"><i class="icon-home icon-white"></i> Home</a></li>
				  <li><a href="#"><i class="icon-book"></i> Library</a></li>
				  <li><a href="#"><i class="icon-pencil"></i> Applications</a></li>
				  <li><a href="#"><i class="i"></i> Misc</a></li>
				</ul>
				
			