<h2>Manual Priority for tasks</h2>
<ul id="sortable">
<% @tasks.each do |t| %>
<li class="ui-state-default">
<%= link_to t.id,t, :class =>'label label-primary'%>
:
<%= t.assignee.fullname %>
:
<%= t.requester.fullname %>
:
<%= t.device %>
:
<%= t.taskname.truncate(75) %>
<% end %>
</ul>