%h2 Manual Priority for tasks				
%ul#sortable
  - @tasks.each do |t|
    .category{:id => t.id}
      %li.ui-state-default
        = link_to t.id,t, :class =>'label label-info'
        #{t.assignee.fullname} :
        #{t.requester.fullname} :
        #{t.device} :
        #{t.taskname.truncate(50)}