<tr>
    <td>
        <%= task.id%>
    </td>
    <td>
        <a href="#" title="<%= task.description%>"><%= task.taskname%></a>
    </td>
    <td>
        <%= task.complete%>
    </td>
    <td>
        <%= task.accepted%>
    </td>
</tr>