<h1>Program Release Report</h1>
<h2><%= @family%> Products</h2>
This report is refreshed once daily
<hr>
<p>
	<% form_tag "/setup_sync/prr?family=#{@family}" do %>
	    <%=label_tag 'device' %>
	<%= select_tag(:device,options_from_collection_for_select(@devices,"name","name")) %>

	    <div><%= submit_tag 'Run Filter' %></div>
	<% end -%>
<table class="table">	
	<tr>
		<th>
			Probe Setup
		</th>
		<th>
			Device
		</th>
		<th>
			Tab
		</th>
		<th>
			Location
		</th>
		<th>
			CP1
		</th>
		<th>
			CP2
		</th>
		<th>
			CP3
		</th>
	</tr>	
<%@device_setups.each do |s|%>
<tr>
	<td>
<%=s.platform %>
	</td>
		<td>
<%=s.device %>
		</td>
			<td>
		<%=s.tab %>
			</td>
				<td>
			<%=s.location %>
				</td>
					<%= raw highlight_new(1, s, @targets_default, @targets_device, @targets_device_tab) %>
				<%=s.cp1 %>
					</td>
					<%= raw highlight_new(2, s, @targets_default, @targets_device, @targets_device_tab) %>
				<%=s.cp2 %>
						</td>
								<%= raw highlight_new(3, s, @targets_default, @targets_device, @targets_device_tab) %>
						<%=s.cp3 %>
							</td>
						
				<tr>
<%end%>
</table>