<h1>PRR</h1>
Program Release Report
<p>

<table>	
<%@device_setups.each do |s|%>
<tr>
	<td>
<%=s.platform %>
	</td>
		<td>
<%=s.device %>
		</td>
			<td>
		<%=s.tab %>
			</td>
				<td>
			<%=s.location %>
				</td>
					<%= raw highlight_new(1, s, @targets_default, @targets_device, @targets_device_tab) %>
				<%=s.cp1 %>
					</td>
					<%= raw highlight_new(2, s, @targets_default, @targets_device, @targets_device_tab) %>
				<%=s.cp2 %>
						</td>
								<%= raw highlight_new(3, s, @targets_default, @targets_device, @targets_device_tab) %>
						<%=s.cp3 %>
							</td>
						
				<tr>
<%end%>
</table>