.btn-group
  %a.btn.btn-info{:button => "", :href => "/setup_sync/prr?family=2W"} 2 Wire
  %a.btn.btn-info{:button => "", :href => "/setup_sync/prr?family=3W"} 3 Wire
  %a.btn.btn-info{:button => "", :href => "/setup_sync/prr?family=SPI"} SPI
  %a.btn.btn-info{:button => "", :href => "/setup_sync/prr?family=CP"} Crypto
  %a.btn.btn-info{:button => "", :href => "/setup_sync/prr?family=TS"} Temp Sensor
.btn-group
  %a.btn.btn-info{:button => "", :href => "/targets"} Target
.btn-group
  %a.btn.btn-info{:button => "", :href => "/setup_sync/report?report=EPRO"} EPRO Entries
  %a.btn.btn-info{:button => "", :href => "/setup_sync/report?report=RED"} RED Report
  %a.btn.btn-info{:button => "", :href => "/setup_sync/report?report=x_flow"} X-Flows

%h2 Program Release Report
%h3
  = @family
  Products
  - if request.post?
    Filtered for 
    = params[:device].upcase
/%a{"data-toggle" => "tooltip", :href => "#", :title => "Program"} hover over me
%hr/
%p
  - form_tag "/setup_sync/prr?family=#{@family}" do
    = label_tag 'device'
    = select_tag(:device,options_from_collection_for_select(@devices,"name","name"))
    %div= submit_tag 'Run Filter'
  %table.table.table-hover
    %thead
      %tr
        %th
          Probe Setup
        %th
          Device
        %th
          Tab
        %th
          Location
        %th
          CP1
        %th
          CP2
        %th
          CP3
    %tbody
      - @device_setups.each do |s|
        %tr
          %td
            - if s.platform.start_with?("HD")
              MAG
            - else
              MAV
            = s.platform+"_"+s.parallelism
          %td
            = s.device
          %td
            = s.tab
          %td
            = s.location
          %td
            = raw highlight(s.cp1_match_flag)
            = s.cp1
          %td
            = raw highlight(s.cp2_match_flag)
            = s.cp2
          %td
            = raw highlight(s.cp3_match_flag)
            = s.cp3
        %tr