<div class="btn-group">
  <a class="btn btn-primary" href="/setup_sync/prr?family=2Wire">2 Wire</a>
  <a class="btn btn-primary" href="/setup_sync/prr?family=3Wire">3 Wire</a>
  <a class="btn btn-primary" href="/setup_sync/prr?family=SPI">SPI</a>
  <a class="btn btn-primary" href="/setup_sync/prr?family=Crypto">Crypto</a>
  <a class="btn btn-primary" href="/setup_sync/prr?family=TS">Temp Sensor</a>
</div>
<div class="btn-group">
  <a class="btn btn-primary" href="/targets">Target</a>
</div>
<div class="btn-group">
  <a class="btn btn-primary" href="/setup_sync/report?report=EPRO">EPRO Entries</a>
  <a class="btn btn-primary" href="/setup_sync/report?report=RED">RED Report</a>
  <a class="btn btn-primary" href="/setup_sync/report?report=x_flow">X-Flows</a>
</div>
<h2>
  <%= "#{@report} " %>
  Report
</h2>
<hr/>
<p>
  <table cellspacing="10" class="display compact" id="prr" width="100%">
    <thead>
      <tr>
        <th>
          Family
        </th>
        <th>
          Probe Setup
        </th>
        <th>
          Device
        </th>
        <th>
          Tab
        </th>
        <th>
          Location
        </th>
        <th>
          CP1
        </th>
        <th>
          CP2
        </th>
        <th>
          CP3
        </th>
      </tr>
    </thead>
    <tbody>
      <% @device_setups.each do |s| %>
        <tr>
          <td>
            <%= s.family %>
          </td>
          <td>
            <%= s.vendor+"_"+s.platform+"_"+s.parallelism %>
          </td>
          <td>
            <%= s.device %>
          </td>
          <td>
            <%= s.tab %>
          </td>
          <td>
            <%= s.location %>
          </td>
          <td>
            <%= raw highlight(s.cp1_match_flag) %>
            <%= s.cp1 %>
          </td>
          <td>
            <%= raw highlight(s.cp2_match_flag) %>
            <%= s.cp2 %>
          </td>
          <td>
            <%= raw highlight(s.cp3_match_flag) %>
            <%= s.cp3 %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</p>
