<h1>Listing projects</h1>
<div id="report-list">
<table width="95%">
  <tr>
    <th>Project</th>
	<th>Owner</th>
    <th>Key</th>
    <th>Tapeout</th>
    <th>Dr1</th>
    <th>Dr2</th>
    <th>Dr3</th>
    <th>Dr4</th>
    <th>Dr5</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @projects.each do |project| %>
  <tr class="<%= cycle('list-line-odd','list-line-even')%>">
    <td><%= project.project %></td>
    <td><%= project.owner %></td>
    <td><%= project.key %></td>
    <td><%= project.tapeout %></td>
    <td><%= project.dr1 %></td>
    <td><%= project.dr2 %></td>
    <td><%= project.dr3 %></td>
    <td><%= project.dr4 %></td>
    <td><%= project.dr5 %></td>
    <td><%= link_to 'Show', project %></td>
    <td><%= link_to 'Edit', edit_project_path(project) %></td>
    <td><%= link_to 'Destroy', project, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
</div>
<br />

<%= link_to 'New Project', new_project_path %>
