<p id="notice"><%= notice %></p>

<p>
  <b>Can:</b>
  <%= @can_main.can %>
</p>

<p>
  <b>Internal:</b>
  <%= @can_main.internal %>
</p>

<p>
  <b>Sort:</b>
  <%= @can_main.sort %>
</p>

<p>
  <b>Mark:</b>
  <%= @can_main.mark %>
</p>

<p>
  <b>Ft:</b>
  <%= @can_main.ft %>
</p>

<p>
  <b>Assy loc:</b>
  <%= @can_main.assy_loc %>
</p>

<p>
  <b>Device tab:</b>
  <%= @can_main.device_tab %>
</p>

<p>
  <b>Inactive:</b>
  <%= @can_main.inactive %>
</p>

<p>
  <b>Customer:</b>
  <%= @can_main.customer %>
</p>

<p>
  <b>Interface:</b>
  <%= @can_main.interface %>
</p>

<p>
  <b>Mfg:</b>
  <%= @can_main.mfg_id %>
</p>

<p>
  <b>I2w addr:</b>
  <%= @can_main.i2w_addr %>
</p>

<p>
  <b>Comments:</b>
  <%= @can_main.comments %>
</p>

<p>
  <b>Fw version:</b>
  <%= @can_main.fw_version %>
</p>


<%= link_to 'Edit', edit_can_main_path(@can_main) %> |
<%= link_to 'Back', can_mains_path %>
