<% @key_projects.each do |k| %>	
<tr class="<%= cycle('list-line-odd','list-line-even')%>">
	<td>	
		<a href="key_project_summary?p_id=<%=k.id%>"<%= k.project %> >			
		<%= k.project %>
	</td>
	<td>				
		<%= k.long_name %>
	</td>
	<td>				
		<%= k.owner %>
	</td>	
	<td>					
		<%= number_with_precision(k.forecast, :precision => 1)%>
		--
		<%= number_with_precision(((k.forecast/@kp_total)*100), :precision => 1)%>	
		%
	</td>
		<td>				
		<%= k.dr1 %>
	</td>
	<td>				
		<%= k.dr2 %>
	</td>
	<td>				
		<%= k.dr3 %>
	</td>
	<td>				
		<%= k.dr4 %>
	</td>
	<td>				
		<%= k.dr5 %>
	</td>
</tr>
<% end %>