#product-list
  #chart_div{:style => "width: 900px; height: 600px;"}
  %b
    Project Totals for #{@key_projects.project}
  %br
  %table
    %tr
      %th 
        .dr1 DR1
      %th 
        .dr2 DR2
      %th 
        .dr3 DR3
      %th 
        .dr4 DR4
      %th 
        .dr5 DR5
    %tr
      %td 
        .dr1 #{@key_projects.dr1}
      %td 
        .dr2 #{@key_projects.dr2}
      %td
        .dr3 #{@key_projects.dr3}
      %td
        .dr4 #{@key_projects.dr4}
      %td
        .dr5 #{@key_projects.dr5}
  %hr
  %table
    = render :partial => "header_month", :locals => {:date => @date}
    = render :partial => "project_totals", :locals => {:pt => @project_totals}
  %hr
  %br
  %br
  / Department Totals
  %b Department Totals
  %table
    = render :partial => "header_month_dept_summary", :locals => {:date => @date}
    = render :partial => "project_department_totals", :locals => {:pt => @layout, :department => "Layout Engineering"} if @layout
    = render :partial => "project_department_totals", :locals => {:pt => @design, :department => "Design Engineering"} if @design
    = render :partial => "project_department_totals", :locals => {:pt => @pe, :department => "Product/Test Engineering"} if @pe
    = render :partial => "project_department_totals", :locals => {:pt => @application, :department => "Applications Engineering"} if @application
  %hr
  %br
  %br
  %br
  %br
  %b Resource Details
  - if @all_details[0]
    = puts @all_details
    - tmp = @all_details[0].department
    %table
      = render :partial => "header_month_dept_all", :locals => {:date => @date}
      - @all_details.each do |k|
        - if tmp != k.department
          %tr
            %td -----
        %tr
          %td
            = k.department
            - tmp=k.department
          %td
            -# %a{ :href => 'http://www.mozilla.com/en-US/firefox/' }Employee name
            %a{ :href => "employee_view?name=#{k.name}" }
              = k.name
          %td
            = k.function
          - for i in (0..14)
 

            - cell = Resource.get_month(k.project,k.department,k.name,k.function,@today,i)
            - if cell.empty? ==true
              %td -
            - else
              - unless cell[0].forecast
                - cell[0].forecast = 'no'
              - if @dr_month[4] == i
                %td
                  .dr5 #{cell[0].forecast}
              - elsif @dr_month[3] == i
                %td
                  .dr4 #{cell[0].forecast}
              - elsif @dr_month[2] == i
                %td
                  .dr3 #{cell[0].forecast}
              - elsif @dr_month[1] == i
                %td
                  .dr2 #{cell[0].forecast}
              - elsif @dr_month[0] == i
                %td
                  .dr1 #{cell[0].forecast}
              - else
                %td
                  = cell[0].forecast