<h1><%= @project.long_name %>: <%= @project.project %></h1>
<br>
Data start:
<%= @start%>
<br>
Data end:
<%= @finish%>
<br>
Duration:
<%= @duration%>
<br>
Record Count:
<%= @project_summary.count%>
<br>
<h2>Project Summary</h2>
<table width="100%">
	<%= render partial: "kpns_header" %>
	<%= render partial: "kpns_details" %>
</table>
<h2>Department Summary</h2>
<table width="100%">
<%= render partial: "kpns_header" %>
<%= render partial: "kpns_details" %>
</table>
<h2>Employee Summary</h2>
<table width="100%">
<%= render partial: "kpns_header" %>
<%= render partial: "kpns_details" %>
</table>

