<h1><%= @project.long_name %>: <%= @project.project %></h1>
<br>
Data start:
<%= @start%>
<br>
Data end:
<%= @finish%>
<br>
Duration:
<%= @duration%>
<br>
Record Count:
<%= @project_details.count%>
<br>
<h2>Department Details</h2>
