<h1><%= @project.long_name %>: <%= @project.project %></h1>
<br>
Data start:
<%= @start%>
<br>
Data end:
<%= @finish%>
<br>
Duration:
<%= @duration%>
<br>
<h2>Project Summary</h2>
<% @project_summary.each do |month| %>
<%= month.date %>
<%= month.date.month %>
<%= month.forecast %>
<br>
<% end %>