<h1><%= @project.long_name %>: <%= @project.project %></h1>
<br>
Data start:
<%= @start%>
<br>
Data end:
<%= @finish%>
<br>
Duration:
<%= @duration%>
<br>
<h2>Project Summary</h2>
<table border="1" width="100%">
	<tr>
<% @project_summary.each do |month| %>
<td>
<%= month.date.month %>
</td>
<% end %>
</tr>
<tr>
<% @project_summary.each do |month| %>
<td>
<%= number_with_precision(month.forecast, :precision => 1) %>
</td>
<% end %>
</tr>
</table>
<h2>Department Summary</h2>
<h2>Employee Summary</h2>