<h1><%= @project.long_name %>: <%= @project.project %></h1>
<br>
Data start:
<%= @first%>
<br>
Data end:
<%= @last%>
<br>
Data span:
<%= @duration%> months
<br>
<h2>Project Forecast</h2>
<% @quarterly_rollup.each do |key, value|%>
<%= key %>
<%= "     %.1f" % value %>
<br>
<%end%>	
<h2>Project Actuals</h2>
<% @quarterly_rollup_actuals.each do |key, value|%>
<%= key %>
<%= "     %.1f" % value %>
<br>
<%end%>
<h2>Department Forecast</h2>
<% @department_totals.group_by(&:date).each do |key, value|%>
<%= key %>::
<br>
<% value.each do |r| %>
<%= r.department%>
<%= "%.1f" % r.forecast %>
<br>
<% end %>
<br>
<%end%>