<h1>Rule Check</h1>
<h2>Not on NPI list</h2>
<p>
<% @projects.each_pair do |dept, data|%>
<h3>
Department <%= dept %> </h3>

	<%= data.count %><p>
    <% render( :partial => "not_key", :object => data)%>

<% end %>
	

<h2>Employee allocated to >1 man-month in given month</h2>
<p>
	<table>
<% @overbooked_forecast.each do |p|%>
<tr>
	<td>
<%= p.department%>
</td>
<td>
<%= p.name%>
</td>
<td>
<%= p.date%>
</td>
<tr>
<p>
<% end %>
</table>