<%untested_die = c.wafercost/c.netgooddie%>
<%die_sort = c.diecost - untested_die%>
<%assembly = c.asm_cost - c.diecost%>
<%die_ft = c.tst_cost - c.asm_cost%>
<%die_backend = c.fg_stdcost - c.fg_stdcost%>
<%die_overhead = c.tst_cost - c.fg_stdcost%>
<%total = c.tst_cost%>

		<h2>
			Wafer Sort Cost Information
		</h2>
		<table width="40%">
			<tr>
				<td>
					Internal Device
				</td>
				<td>
					<%=c.wafer[0..4]%>
				</td>
			</tr>
			<tr>
				<td>
					GDPW
				</td>
				<td>
					<%=c.grossdie%>
				</td>
			</tr>
			<tr>
				<td>
					Model Sort Yield
				</td>
				<td>
					<%=c.sortyield%>%
				</td>
			</tr>
			<tr>
				<td>
					Net Die Per Wafer
				</td>
				<td>
					<%=c.netgooddie%>
				</td>
			</tr>
			<tr>
				<td>
					Probe Hours
				</td>
				<td>
					<%=sprintf("$%4.2f",c.probe_time)%>
				</td>
			</tr>
			<tr>
				<td>
					Probe Cost
				</td>
				<td>
					<%=sprintf("$%4.2f",c.pcostwafer)%>
				</td>
			</tr>
			<tr>
				<td>
					Probe OH Charge per Wafer
				</td>
				<td>
					<%=sprintf("$%6.4f",c.probe_overhead)%>
				</td>
			</tr>
			<tr>
				<td>
					Sort Cost per die (NDPW)
				</td>
				<td>
					<%=sprintf("$%6.4f",die_sort)%>
				</td>
			</tr>
		</table>
