<%untested_die = c.wafercost/c.grossdie%>
<%die_cpx = c.tst_cost - untested_die%>
<%assembly = c.asm_cost%>
<%die_ft = c.tst_ohcost%>
<%die_backend = c.tst_ohcost%>
<%die_overhead = c.tst_ohcost%>

		<table width="40%">
			<tr>
				<th>
					<b>Cetegory</b>
				</th>
				<th>
					<b>Cost</b>
				</th>
				<th>
					<b>Percentage</b>
				</th>					
			<tr>
				<td>
					Untested Die
				</td>
				<td>
					<%=sprintf("%6.4f",untested_die)%>
				</td>
			</tr>
			<tr>
				<td>
					Die Wafer Sort
				</td>
				<td>
					<%=sprintf("%6.4f",die_cpx)%>
				</td>
			</tr>
			<tr>
				<td>
					Assembly
				</td>
				<td>
					<%=sprintf("%6.4f",assembly)%>
				</td>
			</tr>
			<tr>
				<td>
					 Final Test
				</td>
				<td>
					<%=sprintf("%6.4f",die_ft)%>
				</td>
			</tr>
			<tr>
				<td>
					Misc Backend
				</td>
				<td>
					<%=sprintf("%6.4f",die_backend)%>
				</td>
			</tr>
			<tr>
				<td>
					Overhead Cost
				</td>
				<td>
					<%=sprintf("%6.4f",die_overhead)%>
				</td>
			</tr>
		</table>