<%untested_die = c.wafercost/c.netgooddie%>
<%die_sort = c.diecost - untested_die%>
<%assembly = c.asm_cost - c.diecost%>
<%die_ft = c.tst_cost - c.asm_cost%>
<%die_backend = c.fg_stdcost - c.fg_stdcost%>
<%die_overhead = c.tst_cost - c.fg_stdcost%>
<%total = c.tst_cost%>

		<table width="40%", font-size="80%">
			<tr>
				<th>
					<b>Category</b>
				</th>
				<th>
					<b>Cost</b>
				</th>
				<th>
					<b>Percentage</b>
				</th>					
			<tr>
				<td>
					Untested Die
				</td>
				<td>
					<%=sprintf("%6.4f",untested_die)%>
				</td>
				<td>
					<%=sprintf("%04.1f%",(untested_die/total)*100)%>
				</td>
			</tr>
			<tr>
				<td>
					Die Wafer Sort
				</td>
				<td>
					<%=sprintf("%6.4f",die_sort)%>
				</td>
				<td>
					<%=sprintf("%04.1f%",(die_sort/total)*100)%>
				</td>
			</tr>
			<tr>
				<td>
					Assembly
				</td>
				<td>
					<%=sprintf("%6.4f",assembly)%>
				</td>
				<td>
					<%=sprintf("%04.1f%",(assembly/total)*100)%>
				</td>
			</tr>
			<tr>
				<td>
					 Final Test
				</td>
				<td>
					<%=sprintf("%6.4f",die_ft)%>
				</td>
				<td>
					<%=sprintf("%04.1f%",(die_ft/total)*100)%>
				</td>
			</tr>
			<tr>
				<td>
					Misc Backend
				</td>
				<td>
					<%=sprintf("%6.4f",die_backend)%>
				</td>
				<td>
					<%=sprintf("%04.1f%",(die_backend/total)*100)%>
				</td>
			</tr>
			<tr>
				<td>
					Overhead Cost
				</td>
				<td>
					<%=sprintf("%6.4f",die_overhead)%>
				</td>
				<td>
					<%=sprintf("%04.1f%",(die_overhead/total)*100)%>
				</td>
			</tr>
			<tr>
				<td>
					Total Cost
				</td>
				<td>
					<%=sprintf("%6.4f",total)%>
				</td>
			</tr>
		</table>