		<table width="40%", font-size="80%">
			<tr>
				<th>
					<b>Category</b>
				</th>
				<th>
					<b>Cost</b>
				</th>
				<th>
					<b>Percentage</b>
				</th>					
			<tr>
				<td>
					Untested Die
				</td>
				<td>
					<%=sprintf("$%6.4f",c.untested_die_cost)%>
				</td>
				<td>
					<%=sprintf("%04.1f%",c.untested_die_cost_percentage*100)%>
				</td>
			</tr>
			<tr>
				<td>
					Die Wafer Sort
				</td>
				<td>
					<%=sprintf("$%6.4f",c.die_sort_cost)%>
				</td>
				<td>
					<%=sprintf("%04.1f%",c.die_sort_cost_percentage*100)%>
				</td>
			</tr>
			<tr>
				<td>
					Assembly
				</td>
				<td>
					<%=sprintf("$%6.4f",c.die_assembly_cost)%>
				</td>
				<td>
					<%=sprintf("%04.1f%",c.die_assembly_cost_percentage*100)%>
				</td>
			</tr>
			<tr>
				<td>
					 Final Test
				</td>
				<td>
					<%=sprintf("$%6.4f",c.die_ft_cost)%>
				</td>
				<td>
					<%=sprintf("%04.1f%",c.die_ft_cost_percentage*100)%>
				</td>
			</tr>
			<tr>
				<td>
					Misc Backend
				</td>
				<td>
					<%=sprintf("$%6.4f",c.die_backend_cost)%>
				</td>
				<td>
					<%=sprintf("%04.1f%",c.die_backend_cost_percentage*100)%>
				</td>
			</tr>
			<tr>
				<td>
					Overhead Cost
				</td>
				<td>
					<%=sprintf("$%6.4f",c.die_overhead_cost)%>
				</td>
				<td>
					<%=sprintf("%04.1f%",c.die_overhead_cost_percentage*100)%>
				</td>
			</tr>
			<tr>
				<td>
					<b>Total Cost</b>
				</td>
				<td>
					<b><%=sprintf("$%6.4f",c.total_cost)%></b>
				</td>
			</tr>
		</table>
		<hr>
		<table table width="25%", font-size="80%">
			<tr>
				<td>
					Total Manufacturing Costs
					</td>
					<td>
						<%=sprintf("$%6.4f",c.fg_stdcost-c.tst_ohcost-c.asm_ohcost)%>
					</td>
					</tr>
					<tr>
						<td>Total Standard Cost
							</td>
						<td>
							<%=sprintf("$%6.4f",c.fg_stdcost)%>
							</td>
							</tr>
			</table>