<!-- <p id="notice"><%= notice %></p> -->
<h1>Device Cost Analysis</h1>
<hr>
Family: <%= @costing.pc%><br>
Device: <%= @costing.device %><br>


<div id="cost_accordian">

	<h3><a href="#"> Summary Cost</a></h3>
	<div id="product-list">
		<%= render :partial => 'summary_cost', :locals => {:c => @costing} %>
	</div>
	<h3><a href="#"> Wafer-Die Cost</a></h3>
	<div id="product-list">
		<%= render :partial => 'die_cost', :locals => {:c => @costing} %>
	</div>	
	<h3><a href="#"> Assy Cost</a></h3>
	<div id="product-list">
		<%= render :partial => 'assy_cost', :locals => {:c => @costing} %>
	</div>	
	<h3><a href="#"> Final Test Cost</a></h3>
	<div id="product-list">
		<%= render :partial => 'test_cost', :locals => {:c => @costing} %>
	</div>	
	<h3><a href="#"> Wafer Probe Cost</a></h3>
	<div id="product-list">
		<%= render :partial => 'die_cost', :locals => {:c => @costing} %>
	</div>	
	<h3><a href="#"> Finishing- TNR Cost</a></h3>
		<div id="product-list">
		<%= render :partial => 'die_cost', :locals => {:c => @costing} %>
		</div>
</div>
<!-- <%= link_to 'Edit', edit_costing_path(@costing) %> |
<%= link_to 'Back', costings_path %> -->
