<h1>Listing Manufacturing IDs</h1>

<table cellspacing='10' class='display' id='prr' width='100%'>
    <thead>
  <tr>
    <th>Device</th>
    <th>CPN</th>
    <th>Customer</th>
    <th>Products</th>
    <th>Can</th>
    <th>Mfgid</th>
    <th>Protocol</th>
    <th>Sales POC</th>
    <th>Apps POC</th>
    <th></th>
    <th></th>
    <!-- <th></th> -->
  </tr>
</thead>
<tbody>
<% @manids.each do |manid| %>
  <tr>
    <td><%= manid.device %></td>
    <td><%= manid.cpn %></td>
    <td><%= manid.customer %></td>
    <td><%= manid.products %></td>
    <td><%= manid.can_id %></td>
    <td><%= manid.mfgid %></td>
    <td><%= manid.protocol %></td>
    <td><%= manid.pocmkt %></td>
    <td><%= manid.pocapp %></td>
    <td><%= link_to 'Create Qual Timeline', new_sample_path , :class => "btn btn-primary"%></td>
    <!-- <td><%= link_to 'Show', manid, :class => "btn btn-primary" %></td> -->
    <td><%= link_to 'Edit', edit_manid_path(manid), :class => "btn btn-warning" %></td>
    <!-- <td><%= link_to 'Destroy', manid, :confirm => 'Are you sure?', :method => :delete, :class => "btn btn-danger" %></td> -->
  </tr>
<% end %>
</tbody>
</table>
When creating a timeline record, please roll over the edit button of the record in question to get the manid record number from the URL bar.
<br />

<%= link_to 'New Manufacturing ID', new_manid_path , :class => "btn btn-primary"%>

