<p id="notice"><%= notice %></p>

<p>
  <b>Device:</b>
  <%= @manid.device %>
</p>

<p>
  <b>Customer:</b>
  <%= @manid.customer %>
</p>

<p>
  <b>Products:</b>
  <%= @manid.products %>
</p>

<p>
  <b>Can:</b>
  <%= @manid.can_id %>
</p>

<p>
  <b>Mfgid:</b>
  <%= @manid.mfgid %>
</p>

<p>
  <b>Protocol:</b>
  <%= @manid.protocol %>
</p>

<p>
  <b>Sales POC</b>
  <%= @manid.pocmkt %>
</p>

<p>
  <b>Applications POC:</b>
  <%= @manid.pocapp %>
</p>
<%= link_to 'Edit', edit_manid_path(@manid) %> |
<%= link_to 'Back', manids_path %>
