<h1>Listing SAS</h1>

<table  class="table table-hover">
  <tr>
     <th><b>ID</b></th>	  
    <th><b>SAS Type</b></th>
    <th><b>Sent</b></th>
    <th><b>Lot number</b></th>
    <th><b>Location</b></th>
    <th><b>Plant</b></th>
    <th><b>Profit center</b></th>
    <th><b>Sap matid</b></th>
    <th><b>Lts matid</b></th>
    <th><b>Quantity</b></th>
    <th><b>Standard cost</b></th>
    <th><b>Total</b></th>
    <th><b>Date</b></th>
    <th><b>Reserve</b></th>
    <th><b>RMA</b></th>
    <th><b>Customer number</b></th>
    <th><b>Customer details</b></th>
    <th><b>Total std cost</b></th>
    <th><b>Comments</b></th>
    <th></th>
    <th></th>
  </tr>

<% @sas.each do |sa| %>
  <tr>
    <td><%= link_to sa.id, sa %></td>
    <td><%= sa.sas_type %></td>
    <td><%=raw checkbox_mail(sa.sent)%></span></td>
    <td><%= sa.lot_number %></td>
    <td><%= sa.location %></td>
    <td><%= sa.plant %></td>
    <td><%= sa.profit_center %></td>
    <td><%= sa.sap_matid %></td>
    <td><%= sa.lts_matid %></td>
    <td><%= sa.quantity %></td>
    <td><%= sa.standard_cost %></td>
    <td><%= sa.total %></td>
    <td><% unless sa.date == nil %><%= sa.date.to_s(:short) %> <% end %></td>
    <td><%= sa.reserve %></td>
    <td><%= sa.rma %></td>
    <td><%= sa.customer_number %></td>
    <td><%= sa.customer_details %></td>
    <td><%= sa.total_std_cost %></td>
    <td><%= sa.comment %></td>
    <td><%= link_to raw('<span class="glyphicon glyphicon-edit"></span>'), edit_sa_path(sa) %></td>
    <td><%= link_to raw('<span class="glyphicon glyphicon-remove"></span>'), sa, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New SAS', new_sa_path %>
