<p id="notice"><%= notice %></p>
<p>
  <b>SAS Type:</b>
  <%= @sa.sas_type %>
</p>

<p>
  <b>Requester:</b>
  <%= @sa.user.fullname %>
</p>

<p>
  <b>Send Status:</b>
  <%= @sa.sent %>
</p>

<p>
  <b>Lot number:</b>
  <%= @sa.lot_number %>
</p>

<p>
  <b>Location:</b>
  <%= @sa.location %>
</p>

<p>
  <b>Plant:</b>
  <%= @sa.plant %>
</p>

<p>
  <b>Profit center:</b>
  <%= @sa.profit_center %>
</p>

<p>
  <b>Owner code:</b>
  <%= @sa.owner %>
</p>

<p>
  <b>Lts matid:</b>
  <%= @sa.lts_matid %>
</p>

<p>
  <b>Quantity:</b>
  <%= @sa.quantity %>
</p>

<p>
  <b>Standard cost:</b>
  <%= @sa.standard_cost %>
</p>

<p>
  <b>Total:</b>
  <%= @sa.total %>
</p>

<p>
  <b>Date:</b>
  <%= @sa.date %>
</p>

<p>
  <b>Reserve:</b>
  <%= @sa.reserve %>
</p>

<p>
  <b>Rma:</b>
  <%= @sa.rma %>
</p>

<p>
  <b>Customer number:</b>
  <%= @sa.customer_number %>
</p>

<p>
  <b>Customer details:</b>
  <%= @sa.customer_details %>
</p>

<p>
  <b>Total std cost:</b>
  <%= @sa.total_std_cost %>
</p>

<p>
  <b>Comment:</b>
  <%= @sa.comment %>
</p>

<%= link_to 'Edit', edit_sa_path(@sa) %> |
<%= link_to 'Back', sas_path %>


<%- if (!@sa.sent) %>

<h4>Please review the entered data and then click the send mail button below</h4>

<a href="/sas_front/<%=@sa.id%>/mail"><button type="button" class="btn btn-primary">Send Mail to planner</button></a>

<%end%>