<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
	<head>
		<title>
			TMS - Test Management System
		</title>
				<%= stylesheet_link_tag "tms", :media => "all" %>
				<%= stylesheet_link_tag "reset", :media=>"screen" %>
				<%= stylesheet_link_tag "bootstrap.min", :media=>"screen" %>
				<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript" charset="utf-8">
		</script> -->
		<%= csrf_meta_tag %>
		<%= stylesheet_link_tag "//ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/ui-lightness/jquery-ui.css", "application" %>
		<%= javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "//ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js" %>
		<%= javascript_include_tag :defaults %>
		<link href='/images/favicon.ico' rel='shortcut icon'>
	</head>
	<body>
		<div class="topbar" padding-top: 1600px;>
	      <div class="fill">
	        <div class="container">
	          <a class="brand" href="#">Memory BU tools</a>
	          <ul class="nav">
	            <li class="active"><a href="/main/index">Home</a></li>
	            <li><a href="/main/project_active">TMS</a></li> 
	           <li><a href="/main/pto_current">PTO</a></li>
	          </ul>
	<p class="pull-right">Logged in as <a href="#"><username><%=@full_name%></a></p>
	        </div>
	      </div>
	      </div>
				    <div class="container">

		      <div class="content">


				<%if flash[:notice] -%>
				<div id="notice">
					<%=flash[:notice] %>
				</div><%end %><%= yield :layout %>
		      </div>

		      <footer>
		        <p>&copy; Atmel 2012</p>
		      </footer>

	    </div>
	</div>

	</body>
</html>
