<!DOCTYPE html>
<html>
<head>
	<title>TMS - Test Management System</title>
	<%= stylesheet_link_tag "tms", :media => "all" %>
	<%= stylesheet_link_tag "reset", :media="screen" %>
	<%= stylesheet_link_tag "menu", :media="screen" %>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<%= csrf_meta_tag %>
	<%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css", "application" %>
	<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js" %>
	 <%= javascript_include_tag :defaults %>


</head>
<body>
	<div id="banner">
		<%=@page_title||"Serial Interface Business Unit" %>
		
	</div>
	<div id="columns">
		<div id="side">
			<h3>Reports</h3>

			<a href="/main/project_my_active">My Active Requests</a><br>
			<a href="/main/project_my_active_past_due">My Past Due</a><br><br>
			<a href="/main/project_active">Active Requests</a>
			<br/>
			<a href="/main/project_active_past_due">Past Due</a>
			<br/>
			<a href="/main/project_completed">Completed Tasks</a>
			<br/>
			<a href="/main/project_unassigned">Unassigned Tasks</a>
			<br/>
			Custom Query
			<br/>
			<a href="/main/pto_current">30 Day PTO Outlook</a>
			<br/>
			<hr><h3>Maintenance</h3>
			<a href="/tasks/new">Task Entry</a>
			<br/>
			Task Priority Editing
			<br/>
			PTO Entry - Request
			<br/>
			<hr><%if @auth ==2 %>
			<h3>Raw DB Access</h3>
			<a href="/users">Users</a>
			<br>
			<a href="/devices">Devices</a>
			<br>
			<a href="/tasks">Projects and Tasks</a>
			<br>
			<a href="/ptos">PTO</a>
			<br>
			<a href="/main/index">TMS Home</a>
			<br>
			<!-- <h2>Documentation</h2>
			<p>
			<a href="\doc\app\AdminController.html">Code Documentation</a>
			</p> --><%end %>
			<h3>Logout</h3>
			<a href="/admin/logout">Logout</a>
		</div>
		<div id="main">
			<%if flash[:notice] -%>
			<div id="notice">
				<%=flash[:notice] %>
			</div>
			<%end %>
			<%= yield :layout %>
		</div>
	</div>
</body>
</html>
