<!DOCTYPE html>
<html>
	<head>
		<title>
			Memory BU Tools
		</title> 

				<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript" charset="utf-8">
		</script> -->
		<%= stylesheet_link_tag "reset", :media=>"screen" %>
		<%= csrf_meta_tag %>
		<%= stylesheet_link_tag "//ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/themes/smoothness/jquery-ui.css", "application" %>
		<%= javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js", "//ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/jquery-ui.min.js" %>
        <script src="http://cdn.datatables.net/1.10.0/js/jquery.dataTables.js"> </script>
        <%= javascript_include_tag :defaults %>
        <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.0/css/jquery.dataTables.css">	
        
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

        <!-- Latest compiled and minified JavaScript -->
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		
		
		
		<link href='/images/favicon.ico' rel='shortcut icon'>
	</head>
	<body>
		<nav class="navbar navbar" role="navigation">
		  <!-- Brand and toggle get grouped for better mobile display -->
		  <div class="navbar-header">
		    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		      <span class="sr-only">Toggle navigation</span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		    </button>
		    <a class="navbar-brand" href="#">Memory BU tools</a>
		  </div>

		  <!-- Collect the nav links, forms, and other content for toggling -->
		  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		    <ul class="nav navbar-nav">
				<li class="<%= 'active' if params[:controller] == 'admin' %>" ><a href="/main/index">Home</a></li>
	            <li class="<%= 'active' if params[:controller] == 'main' %>" ><a href="/main/project_active">TMS</a></li> 
	            <li class="<%= 'active' if params[:controller] == 'sas' %>" ><a href="/sas_front/">SAS</a></li>
			    <li class="<%= 'active' if params[:controller] == 'can_mains' %>" ><a href="/can_mains">CAN Db</a></li>
			    <li class="<%= 'active' if params[:controller] == 'test_progs' %>" ><a href="/test_progs">Test Prog</a></li>
			    <li class="<%= 'active' if params[:controller] == 'setup_sync' %>" ><a href="/setup_sync">SETUP</a></li>
			    <li class="<%= 'active' if params[:controller] == 'test_times' %>" ><a href="/test_times">Test Times</a></li>
				<li class="<%= 'active' if params[:controller] == 'pto' %>" ><a href="/main/pto_current">PTO</a></li>
				<li class="<%= 'active' if params[:controller] == 'pomodoro' %>" ><a href="/pomodoro">Pomodoro</a></li>
		    </ul>

		    <ul class="nav navbar-nav navbar-right">
		      <li>Logged in as <%= @full_name%></li>
		    </ul>
		  </div><!-- /.navbar-collapse -->
		</nav>	
		<div class="container-fluid">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
				  <%if flash[:notice] %>
				    <div id="notice">
					  <%= flash[:notice] %>
				    </div>
				  <%end %>
				  <%= yield :layout %>
		        <footer>
		          <p>&copy; Atmel 2014</p>
		        </footer>
                </div>
            </div>
	    </div>
        <nav class="navbar navbar-default" role="navigation">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Brand</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                    <li class="divider"></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li>
              </ul>
              <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
              </form>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Link</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                  </ul>
                </li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
	</body>
</html>
