<!DOCTYPE html>
<html>
	<head>
		<title>
			Memory BU Tools
		</title> 

				<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript" charset="utf-8">
		</script> -->
		<%= stylesheet_link_tag "reset", :media=>"screen" %>
		<%= stylesheet_link_tag "tms", :media => "all" %>
		<%= stylesheet_link_tag "custom2", :media=>"screen" %>					
		<%= csrf_meta_tag %>
		<%= stylesheet_link_tag "//ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/themes/smoothness/jquery-ui.css", "application" %>
		<%= javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js", "//ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/jquery-ui.min.js" %>
        <script src="http://cdn.datatables.net/1.10.0/js/jquery.dataTables.js"> </script>
        <%= javascript_include_tag :defaults %>
		<%= stylesheet_link_tag "bootstrap.min", :media=>"screen" %>
		<script src="javascripts/bootstrap.js"></script>
        <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.0/css/jquery.dataTables.css">	
		
		
		
		<link href='/images/favicon.ico' rel='shortcut icon'>
	</head>
	<body>
		<nav class="navbar navbar-inverse" role="navigation">
		  <!-- Brand and toggle get grouped for better mobile display -->
		  <div class="navbar-header">
		    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		      <span class="sr-only">Toggle navigation</span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		    </button>
		    <a class="navbar-brand" href="#">Memory BU tools</a>
		  </div>

		  <!-- Collect the nav links, forms, and other content for toggling -->
		  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		    <ul class="nav navbar-nav">
				<li class="<%= 'active' if params[:controller] == 'admin' %>" ><a href="/main/index">Home</a></li>
	            <li class="<%= 'active' if params[:controller] == 'main' %>" ><a href="/main/project_active">TMS</a></li> 
	            <li class="<%= 'active' if params[:controller] == 'sas' %>" ><a href="/sas_front/">SAS</a></li>
			    <li class="<%= 'active' if params[:controller] == 'can_mains' %>" ><a href="/can_mains">CAN Db</a></li>
			    <li class="<%= 'active' if params[:controller] == 'test_progs' %>" ><a href="/test_progs">Test Prog</a></li>
			    <li class="<%= 'active' if params[:controller] == 'setup_sync' %>" ><a href="/setup_sync">SETUP</a></li>
			    <li class="<%= 'active' if params[:controller] == 'test_times' %>" ><a href="/test_times">Test Times</a></li>
				<li class="<%= 'active' if params[:controller] == 'pto' %>" ><a href="/main/pto_current">PTO</a></li>
				<li class="<%= 'active' if params[:controller] == 'pomodoro' %>" ><a href="/pomodoro">Pomodoro</a></li>
		    </ul>

		    <ul class="nav navbar-nav navbar-right">
		      <li>Logged in as <%= @full_name%></li>
		    </ul>
		  </div><!-- /.navbar-collapse -->
		</nav>	
		<div class="container-fluid">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
				  <%if flash[:notice] %>
				    <div id="notice">
					  <%= flash[:notice] %>
				    </div>
				  <%end %>
				  <%= yield :layout %>
		        <footer>
		          <p>&copy; Atmel 2014</p>
		        </footer>
                </div>
            </div>
	    </div>
	</body>
</html>
