<!DOCTYPE html>
<html>
	<head>
		<title>
			TMS - Test Management System
		</title> 
				<%= stylesheet_link_tag "tms", :media => "all" %>
				<%= stylesheet_link_tag "reset", :media=>"screen" %>
				<%= stylesheet_link_tag "custom2", :media=>"screen" %>
				<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript" charset="utf-8">
		</script> -->
		<%= csrf_meta_tag %>
		<%= stylesheet_link_tag "//ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/themes/ui-lightness/jquery-ui.css", "application" %>
		<%= javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js", "//ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/jquery-ui.min.js" %>
				<%= javascript_include_tag :defaults %>
				
				<!-- Latest compiled and minified CSS -->
				<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">

				<!-- Optional theme -->
				<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">

				<!-- Latest compiled and minified JavaScript -->
				<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
		
		
		<!-- Insert of Get image Demo starts here -->		
	    <script type="text/javascript" src="//canvg.googlecode.com/svn/trunk/rgbcolor.js"></script> 
	    <script type="text/javascript" src="//canvg.googlecode.com/svn/trunk/canvg.js"></script>
	    <script>
	      function getImgData(chartContainer) {
	        var chartArea = chartContainer.getElementsByTagName('iframe')[0].
	          contentDocument.getElementById('chartArea');
	        var svg = chartArea.innerHTML;
	        var doc = chartContainer.ownerDocument;
	        var canvas = doc.createElement('canvas');
	        canvas.setAttribute('width', chartArea.offsetWidth);
	        canvas.setAttribute('height', chartArea.offsetHeight);


	        canvas.setAttribute(
	            'style',
	            'position: absolute; ' +
	            'top: ' + (-chartArea.offsetHeight * 2) + 'px;' +
	            'left: ' + (-chartArea.offsetWidth * 2) + 'px;');
	        doc.body.appendChild(canvas);
	        canvg(canvas, svg);
	        var imgData = canvas.toDataURL("image/png");
	        canvas.parentNode.removeChild(canvas);
	        return imgData;
	      }

	      function saveAsImg(chartContainer) {
	        var imgData = getImgData(chartContainer);

	        // Replacing the mime-type will force the browser to trigger a download
	        // rather than displaying the image in the browser window.
	        window.location = imgData.replace("image/png", "image/octet-stream");
	      }

	      function toImg(chartContainer, imgContainer) { 
	        var doc = chartContainer.ownerDocument;
	        var img = doc.createElement('img');
	        img.src = getImgData(chartContainer);

	        while (imgContainer.firstChild) {
	          imgContainer.removeChild(imgContainer.firstChild);
	        }
	        imgContainer.appendChild(img);
	      }
	    </script>		
<!-- Insert of GoogleChart Demo starts here -->		
     <script type="text/javascript" src="//www.google.com/jsapi"></script>
     <script type="text/javascript">
       google.load('visualization', '1', {packages: ['corechart']});
     </script>
     <script type="text/javascript">
       function drawVisualization() {
		 //Data from controller
		var js_char_title = '<%= @chart_title%>'
	    var js_data = <%= @data.to_json.html_safe %>
         // Some raw data (not necessarily accurate)
         var data = google.visualization.arrayToDataTable(js_data);

         var options = {
           title : js_char_title,
           vAxis: {title: "man-month"},
           hAxis: {title: "Month"},
		   vAxis: {maxValue: 2 },	
           seriesType: "bars",
		   isStacked: "true",
           series: {5: {type: "line"}}
         };

         var chart = new google.visualization.ComboChart(document.getElementById('chart_div2'));
         chart.draw(data, options);
       }
       google.setOnLoadCallback(drawVisualization);
     </script>
<!-- End of GoogleChart Demo -->			
		
		<link href='/images/favicon.ico' rel='shortcut icon'>
	</head>
	<body>
		
		<nav class="navbar navbar-default" role="navigation">
		  <!-- Brand and toggle get grouped for better mobile display -->
		  <div class="navbar-header">
		    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
		      <span class="sr-only">Toggle navigation</span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		    </button>
		    <a class="navbar-brand" href="#">Memory BU Tools</a>
		  </div>

		  <!-- Collect the nav links, forms, and other content for toggling -->
		  <div class="collapse navbar-collapse navbar-ex1-collapse">
		    <ul class="nav navbar-nav">
				<li class="<%= 'active' if params[:controller] == 'admin' %>" ><a href="/main/index">Home</a></li>
		      <li class="dropdown">
		        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
		        <ul class="dropdown-menu">
		          <li><a href="#">Test Engineer</a></li>
		          <li><a href="#">Serial Technician</a></li>
		        </ul>
		      </li>
		      <li><a href="#">SAS</a></li>
		      <li><a href="#">Resource Allocations</a></li>
		      <li><a href="#">CAN DB</a></li>
		      <li><a href="#">Test Prog</a></li>
		      <li><a href="#">SETUP</a></li>
		      <li><a href="#">PTO</a></li>
		    </ul>
		    <form class="navbar-form navbar-left" role="search">
		      <div class="form-group">
		        <input type="text" class="form-control" placeholder="Search TMS">
		      </div>
		      <button type="submit" class="btn btn-default">Submit</button>
		    </form>
		  </div><!-- /.navbar-collapse -->
		</nav>
		
		
		<div class="navbar">
		  <div class="navbar-inner">
		    <a class="brand" href="#">Memory BU tools</a>
		    <ul class="nav">
				<li class="<%= 'active' if params[:controller] == 'admin' %>" ><a href="/main/index">Home</a></li>
	            <li class="<%= 'active' if params[:controller] == 'main' %>" ><a href="/main/project_active">TMS</a></li> 
	            
		      <li class="dropdown">
		        <a href="#" class="dropdown-toggle" data-toggle="dropdown">TMS <b class="caret"></b></a>
		        <ul class="dropdown-menu">
		          <li><a href="#">Test Engineer</a></li>
		          <li><a href="#">Serial Technician</a></li>
		        </ul>
		      </li>	
	
	
	
	
	            <li class="<%= 'active' if params[:controller] == 'sas' %>" ><a href="/sas/">SAS</a></li>
	            <li class="<%= 'active' if params[:controller] == 'resource' %>" ><a href="/resource/key_projects">Resource Allocations</a></li>
			    <li class="<%= 'active' if params[:controller] == 'can_mains' %>" ><a href="/can_mains">CAN Db</a></li>
			    <li class="<%= 'active' if params[:controller] == 'test_progs' %>" ><a href="/test_progs">Test Prog</a></li>
			    <li class="<%= 'active' if params[:controller] == 'setup_sync' %>" ><a href="/setup_sync">SETUP</a></li>
				<li class="<%= 'active' if params[:controller] == 'pto' %>" ><a href="/main/pto_current">PTO</a></li>
		    </ul>
			<p class="pull-right">Logged in as <a href="#"><username><%=@full_name%></a></p>
		  </div>
		</div>
		<div class="container-fluid">

		     
				<%if flash[:notice] -%>
				<div id="notice">
					<%=flash[:notice] %>
				</div>
				<%end %>
				<%= yield :layout %>
		    

		      <footer>
		        <p>&copy; Atmel 2013</p>
		      </footer>

	    </div>
	</div>

	</body>
</html>
