<!DOCTYPE html>
<html>
	<head>
		<title>
			Crypto BU Tools
		</title> 

				<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript" charset="utf-8">
		</script> -->
		<%= stylesheet_link_tag "reset", :media=>"screen" %>
		<%= csrf_meta_tag %>
		<%= stylesheet_link_tag "//code.jquery.com/ui/1.11.4/themes/start/jquery-ui.css", "application" %>
		<%= javascript_include_tag "//code.jquery.com/jquery-1.10.2.js", "//code.jquery.com/ui/1.11.4/jquery-ui.js" %>
        <script src="http://cdn.datatables.net/1.10.5/js/jquery.dataTables.js"> </script>
        <%= javascript_include_tag :defaults %>
        <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.1/css/jquery.dataTables.css">	
        
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

        <!-- Latest compiled and minified JavaScript -->
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		
		
		
		<link href='/images/favicon.ico' rel='shortcut icon'>
        
        <style>
        #feedback { font-size: 1.4em; }
        #selectable .ui-selecting { background: #FECA40; }
        #selectable .ui-selected { background: #F39814; color: white; }
        #selectable { list-style-type: none; margin: 0; padding: 0; width: 1050px; }
        #selectable li { margin: 3px; padding: 1px; float: left; width: 80px; height: 80px; font-size: 1.5em; text-align: center; }
        </style>
        <script>
        jQuery(function() {
          jQuery( "#selectable" ).selectable();
        });
        </script>
	</head>
	<body>
		<nav class="navbar navbar-inverse" role="navigation">
		  <!-- Brand and toggle get grouped for better mobile display -->
		  <div class="navbar-header">
		    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		      <span class="sr-only">Toggle navigation</span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		    </button>
		    <a class="navbar-brand" href="#">Crypto and Memory BU Tools</a>
		  </div>

		  <!-- Collect the nav links, forms, and other content for toggling -->
		  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		    <ul class="nav navbar-nav">
				<li class="<%= 'active' if params[:controller] == 'admin' %>" ><a href="/main/index">Home</a></li>
	            <li class="<%= 'active' if params[:controller] == 'main' %>" ><a href="/main/project_active">TMS</a></li> 
	            <li class="<%= 'active' if params[:controller] == 'main' %>" ><a href="/tms/viewAll">TMS2</a></li> 
	            <li class="<%= 'active' if params[:controller] == 'sas' %>" ><a href="/sas_front/">SAS</a></li>
			    <li class="<%= 'active' if params[:controller] == 'can_mains' %>" ><a href="/can_mains">CAN Db</a></li>
			    <li class="<%= 'active' if params[:controller] == 'manids' %>" ><a href="/personalization">Crypto Personalization</a></li>
			    <li class="<%= 'active' if params[:controller] == 'test_progs' %>" ><a href="/test_progs">Test Prog</a></li>
			    <li class="<%= 'active' if params[:controller] == 'setup_sync' %>" ><a href="/setup_sync">SETUP</a></li>
			    <!-- <li class="<%= 'active' if params[:controller] == 'test_times' %>" ><a href="/test_times">Test Times</a></li> -->
				<li class="<%= 'active' if params[:controller] == 'user' %>" ><a href="/users/roster">Roster</a></li>
				<li class="<%= 'active' if params[:controller] == 'pto' %>" ><a href="/main/pto_current">PTO</a></li>
				<!-- <li class="<%= 'active' if params[:controller] == 'pomodoro' %>" ><a href="/pomodoro">Pomodoro</a></li> -->
		    </ul>

		    <ul class="nav navbar-nav navbar-right">
                <button type="button" class="btn btn-primary btn-xs">
		      <li>Logged in as <%= @full_name%></li></button>
		    </ul>
		  </div><!-- /.navbar-collapse -->
		</nav>	
		<div class="container-fluid">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
				  <%if flash[:notice] %>
				    <div id="notice">
					  <%= flash[:notice] %>
				    </div>
				  <%end %>
				  <%= yield :layout %>
		        <footer>
		          <p>&copy; Atmel 2016</p>
		        </footer>
                </div>
            </div>
	    </div>
	</body>
</html>
